.cart_item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: transform 0.2s ease-in-out;
    position: relative;

    &_more_container {
        display: flex;
        justify-content: end;

        .more {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            transition-duration: 0.3s;

            &:active {
                transform: scale(0.9);
            }
        }

        .more_actions {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 1;
            position: absolute;
            top: 30px;
            right: 60px;
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
            animation: appearance 0.1s ease-in-out;

            button {
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
                transition-duration: 0.3s;
                display: flex;
                align-items: center;
                gap: 5px;

                &:active {
                    transform: scale(0.9);
                }

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &_info {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        align-items: center;
        gap: 25px;

        a {
            transition-duration: 0.3s;

            img {
                width: 200px;
                height: 200px;
                border-radius: 8px;
            }

            &:active {
                transform: scale(0.9);
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                font-size: 18px;
                font-weight: 500;
                color: #333;
                margin: 0;
            }
        }
    }

    &_actions {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;

        button {
            padding: 6px 12px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            border-radius: 6px;
            background: none;
            cursor: pointer;
            transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;

            img {
                width: 25px;
                height: 25px;
            }

            &:hover {
                opacity: 0.9;
                transform: translateY(-2px);
            }
        }

        &_count {
            font-size: 18px;
            font-weight: bold;
            color: #444;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid black;
            width: 25px;
            display: flex;
            justify-content: center;
        }

        &_price {
            font-size: 20px;
            font-weight: bold;
            color: green;
            width: 70px;
        }
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}